body {
	background: #F5F5F5;
	font-family: "Segoe UI";
	font-size: 19px;
	color: #F5F5F5;
	font-weight: 600;
}

li {list-style: none;}

.main-block {
	display: block;
	position: relative;

	margin: 0 auto;
	margin-top: 150px;
	padding: 50px;
	padding-top: 100px;

	width: 1000px;
	height: 1600px;

	background: #1F1F0F;
	box-shadow: 0 0 3vh 1vh #0F0F0F;
}

.underlinePhoto {
	display: block;
	margin: 50px auto;
	background: #F5F5F5;
	width: 900px;
	height: 3px;
}

.textBoxFirst {
	display: block;
	
	margin: 50px auto;
	width: 850px;
	height: 800px;
}

.textBoxFirst h2 {
	text-align: center;
}

.listStyle {
	margin-left: 30px;
}

.main-footer {
	display: block;
	
	margin: 0 auto;
	text-align: right;
	width: 850px;
	height: 300px;
}

.photo-edit {
	text-decoration: none;
	color: #F5F5F5;
}

.photo-edit a:hover {
	color: #0077ff;
}
